div{
    width: 100%;
    height: 160pt;
    
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

body {
    overflow: hidden;
}

p {
    text-align:center;
}

#puzzle {
    font-size: 20pt;
}

#answer {
    font-size: 20pt;
}

#show-answer {
    font-size: 14pt;
}

#user-answer {
    width: 80pt;
    height: 30pt;
    font-size: 20pt;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
